{{page-title "Index"}}
<div class="flex-container">
<Accessibility-section @id="section-one" @title="Page Layout" @link="PageLayout" @img="pagelayout.png"/>
<Accessibility-section @id="section-two" @title="Colours" @link="Colours" @img="colours.png"/>
<Accessibility-section @id="section-three" @title="Images" @link="Images" @img="images.png"/>
<Accessibility-section @id="section-four" @title="Video & Audio" @link="VideoAudio" @img="vidaud.png"/>
<Accessibility-section @id="section-five" @title="General Elements & Links" @link="GeneralElementsLinks" @img="element.png"/>
<Accessibility-section @id="section-six" @title="Content Readability (Text)" @link="ContentReadabilityText" @img="text.png"/>
</div>
{{outlet}}